.button {
	display: flex;
	justify-content: center;
	align-items: center;
	color: $white;
	text-align: center;
	font-family: $ff;
	font-size: 14px;
	font-style: normal;
	font-weight: $fw-regular;
	line-height: 0px;
	border-radius: 10px;
	border: 1px solid $rose;
	background-color: $accent;
	padding: 20px 53px;
	cursor: pointer;
	white-space: nowrap;
	transition: opacity ease $tr;

	&:hover {
		opacity: $op;
	}

	&.transparent {
		background-color: $white;
		color: $black;
		border: 1px solid #130F26;
		font-weight: $fw-bold;

		&:hover {
			opacity: $op;
		}
	}

	&.white {
		padding: 25px 50px; 
		background-color: $white;
		color: $rose;
		font-size: 16px;
		font-weight: $fw-bold;

		&:hover {
			opacity: $op;
		}
	}
}